<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="cms_page_save_after">
        <observer name="magespace_blog_page_after"
                  instance="Magespace\Blog\Observer\PageSaveAfter" />
    </event>
</config>
