.post-comments-container .comment-container {
    border: 1px solid #ccc;
}
.post-comments-container .comment-container__content {
    padding: 20px;
}
.post-comments-container .comment-container__content .comment-meta {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.post-comments-container .comment-container__content .comment-meta {
    min-width: 80%;
}
