<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magespace\PostComment\Api\Data\CommentInterface" type="Magespace\PostComment\Model\Comment" />
    <preference for="Magespace\PostComment\Api\Data\CommentSearchResultInterface" type="Magespace\PostComment\Model\CommentSearchResult" />
    <preference for="Magespace\PostComment\Api\CommentRepositoryInterface" type="Magespace\PostComment\Model\CommentRepository" />
</config>
